# Note: it would be helpful to refer to the below file:
# https://github.com/renpy/renpy/blob/master/.gitignore

.vscode/

saves/
cache/

log.txt
errors.txt
traceback.txt
project.json

*.rpyc
*.rpyb
*.rpymc
